img {
  width: 50px;
}
#face {
  width: 400px;
  position:relative;
}

#hat {
  position:absolute;
  top:90;
  left:225;

}

#ears1 {
  position: absolute;
  left:10px;
  top:80px;
  width:30%;

}

#eyes1 {
  position: absolute;
  left:110px;
  width:15%;
  top:150px;
}

#nose1 {
  position:absolute;
  width: 5%;
  top:250px;
  left:180px;
}

#mouth2 {
  position:absolute;
  width: 8%;
  top:330px;
  left:180px;
}

