body {
  background: lightgray;
}

.canvas {
  position: absolute;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: hotpink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 50px;
}
#face {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hair1 {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#hat {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -108%) rotate(-38deg);
}

#eyes2 {
  z-index: 1;
  position: absolute;
  width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nose2 {
  z-index: 1;
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%) rotate(90deg);
}
